.szdwjf0 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 16px;
}
._15i4hed0 {
  color: var(--zozg0ck);
  background-color: var(--zozg0c1);
  border: 1px solid;
  border-radius: 8px;
  position: relative;
  border-color: var(--zozg0cf);
}
._15i4hed0:hover {
  background-color: var(--zozg0cd);
}
._15i4hed0:active {
  background-color: var(--zozg0cd);
  border-color: var(--zozg0cg);
}
._15i4hed0:focus {
  box-shadow: 0 0 0 3px var(--zozg0ce);
}
._15i4hed0:active {
  box-shadow: none;
}
._15i4hed1 {
  background-color: var(--zozg0c1);
}
._15i4hed1:hover {
  background-color: var(--zozg0c1);
}
._15i4hed1:active {
  border-color: var(--zozg0cf);
  background-color: var(--zozg0c1);
}
._15i4hed2 {
  background-color: var(--zozg0c1);
  color: var(--zozg0ci) !important;
  border-color: var(--zozg0cf);
}
._15i4hed2:hover {
  background-color: var(--zozg0c1);
}
._15i4hed2:active {
  border-color: var(--zozg0cf);
  background-color: var(--zozg0c1);
}
._197rj410 {
  color: transparent !important;
}
.mmp8080:hover {
  color: var(--zozg0cg);
}
.mmp8080:active {
  color: var(--zozg0cg);
}
.mmp8080:focus {
  color: var(--zozg0cg);
}
.mmp8080.mmp8080 {
  color: var(--zozg0cg);
}
.mmp8080.mmp8080:hover {
  color: var(--zozg0cg);
}
.mmp8080.mmp8080:active {
  color: var(--zozg0cg);
}
.mmp8080.mmp8080:focus {
  color: var(--zozg0cg);
}
@-webkit-keyframes _1w7lseh0 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes _1w7lseh0 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
._1urxfpj0 {
  font-size: 12px;
  padding: 7px 11px;
  height: 32px;
}
._1urxfpj1 {
  font-size: 14px;
  padding: 9px 15px;
  height: 40px;
}
._1urxfpj2 {
  font-size: 16px;
  padding: 11px 19px;
  height: 48px;
}
.obc3r00 {
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
  border: medium none currentColor;
  border: initial;
}
.obc3r00 {
  padding: 0;
  padding: initial;
  height: auto;
}
 ._1urxfpj0.obc3r00 {
  height: 16px;
}
 ._1urxfpj1.obc3r00 {
  height: 20px;
}
 ._1urxfpj2.obc3r00 {
  height: 24px;
}
.obc3r01 {
  color: var(--zozg0c8);
}
.obc3r01:hover {
  color: var(--zozg0c9);
}
.obc3r01:focus {
  color: var(--zozg0c9);
}
.obc3r01:active {
  color: var(--zozg0ca);
}
.obc3r02 {
  color: var(--zozg0cj);
}
.obc3r02:hover {
  color: var(--zozg0ck);
}
.obc3r02:focus {
  color: var(--zozg0ck);
}
.obc3r02:active {
  color: var(--zozg0cl);
}
.obc3r04.obc3r04.obc3r04 {
  color: var(--zozg0c7);
}
.obc3r05.obc3r05.obc3r05 {
  color: var(--zozg0ch);
}
._39oaih0 {
  display: none;
}
._197rj410 ._39oaih0 {
  display: inline;
}
._197rj410 ._39oaih1 {
  position: absolute;
}
.obc3r01 ._39oaih1 {
  fill: var(--zozg0c8);
}
.obc3r01:hover ._39oaih1 {
  fill: var(--zozg0c9);
}
.obc3r01:focus ._39oaih1 {
  fill: var(--zozg0c9);
}
.obc3r01:active ._39oaih1 {
  fill: var(--zozg0ca);
}
.obc3r02 ._39oaih1 {
  fill: var(--zozg0cj);
}
.obc3r02:hover ._39oaih1 {
  fill: var(--zozg0ck);
}
.obc3r02:focus ._39oaih1 {
  fill: var(--zozg0ck);
}
.obc3r02:active ._39oaih1 {
  fill: var(--zozg0cl);
}
.obc3r00.obc3r01.obc3r03.obc3r04 ._39oaih1 {
  fill: var(--zozg0c7);
}
.obc3r00.obc3r01.obc3r03.obc3r04:hover ._39oaih1 {
  fill: var(--zozg0c7);
}
.obc3r00.obc3r01.obc3r03.obc3r04:focus ._39oaih1 {
  fill: var(--zozg0c7);
}
.obc3r00.obc3r01.obc3r03.obc3r04:active ._39oaih1 {
  fill: var(--zozg0c7);
}
.obc3r00.obc3r02.obc3r03.obc3r05 ._39oaih1 {
  fill: var(--zozg0ch);
}
.obc3r00.obc3r02.obc3r03.obc3r05:hover ._39oaih1 {
  fill: var(--zozg0ch);
}
.obc3r00.obc3r02.obc3r03.obc3r05:focus ._39oaih1 {
  fill: var(--zozg0ch);
}
.obc3r00.obc3r02.obc3r03.obc3r05:active ._39oaih1 {
  fill: var(--zozg0ch);
}
._15i4hed0 ._39oaih1 {
  fill: var(--zozg0ck);
}
._15i4hed0:hover ._39oaih1 {
  fill: var(--zozg0ck);
}
._15i4hed0:focus ._39oaih1 {
  fill: var(--zozg0ck);
}
._15i4hed0:active ._39oaih1 {
  fill: var(--zozg0ck);
}
._15i4hed0._15i4hed2 ._39oaih1 {
  fill: var(--zozg0ci);
}
._15i4hed0._15i4hed2:hover ._39oaih1 {
  fill: var(--zozg0ci);
}
._15i4hed0._15i4hed2:focus ._39oaih1 {
  fill: var(--zozg0ci);
}
._15i4hed0._15i4hed2:active ._39oaih1 {
  fill: var(--zozg0ci);
}
.mmp8080 ._39oaih1 {
  fill: var(--zozg0cg);
}
.mmp8080:hover ._39oaih1 {
  fill: var(--zozg0cg);
}
.mmp8080:focus ._39oaih1 {
  fill: var(--zozg0cg);
}
.mmp8080:active ._39oaih1 {
  fill: var(--zozg0cg);
}
._39oaih2 {
  -webkit-animation-name: _1w7lseh0;
          animation-name: _1w7lseh0;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
._39oaih3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
._1urxfpj0 ._39oaih3 {
  gap: 4px;
}
._1urxfpj2 ._39oaih3 {
  gap: 8px;
}
._39oaih4._1urxfpj0:not(._197rj410):not(.obc3r00) {
  padding-left: 7px;
  padding-right: 7px;
}
._39oaih4._1urxfpj1:not(._197rj410):not(.obc3r00) {
  padding-left: 9px;
  padding-right: 9px;
}
._39oaih4._1urxfpj2:not(._197rj410):not(.obc3r00) {
  padding-left: 11px;
  padding-right: 11px;
}
._8vei7x0 {
  font-family: SB Sans Interface;
}
.d0mj5d0 {
  cursor: pointer;
}
.d0mj5d1 {
  color: var(--zozg0c8);
  border-color: var(--zozg0c8);
}
.d0mj5d1:hover {
  color: var(--zozg0c9);
  border-color: var(--zozg0c9);
}
.d0mj5d1:focus {
  background-color: var(--zozg0c3);
}
.d0mj5d1:active {
  color: var(--zozg0c9);
  border-color: var(--zozg0c9);
}
.d0mj5d2 {
  color: var(--zozg0cj);
  border-color: var(--zozg0cj);
}
.d0mj5d2:hover {
  color: var(--zozg0ck);
  border-color: var(--zozg0ck);
}
.d0mj5d2:focus {
  background-color: var(--zozg0cd);
}
.d0mj5d2:active {
  color: var(--zozg0ck);
  border-color: var(--zozg0ck);
}
.yof1e60 {
  font: var(--zozg0c10);
  height: 16px;
}
.yof1e61 {
  font: var(--zozg0cy);
  height: 20px;
}
.yof1e62 {
  font: var(--zozg0cw);
  height: 24px;
}
.yof1e63 {
  font: var(--zozg0cu);
  height: 24px;
}
.yof1e64 {
  font: var(--zozg0cs);
  height: 28px;
}
.kpo6zv1 {
  border-bottom: 1px solid;
}
.kpo6zv2 {
  border-bottom: 1px dashed;
}
._1chmp3k0 {
  color: var(--zozg0cg);
  border-color: var(--zozg0cg);
}
._1chmp3k0:hover {
  color: var(--zozg0cg);
  border-color: var(--zozg0cg);
}
._1chmp3k0:active {
  color: var(--zozg0cg);
}
._1chmp3k0:focus {
  color: var(--zozg0cg);
}

/*# sourceMappingURL=docs-Buttons-stories-mdx.57a44625.chunk.css.map*/